{% extends 'blog/base.html' %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{% block content %}
    <div class="rightside">
	    	<h2><center>About author</center></h2>
	    	<img src="{% static "img/anshuman.jpg" %}" height = "144" width = "192">
	    	<p>Hey, I am Anshuman and this website is an attempt to learn Django and all its advanced elements. I am a fresh Graduate learning IT development in Automotive Industry. Skilled in C++ and Python.</p>
     </div>
{% endblock %}