{% load staticfiles %}

<html>
<head>
    {% block meta_tags %}
    <meta/>
    {% endblock %}

    {% block title %}
    <title>Elixir</title>
    {% endblock %}
    <!-- Included bootstrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- included designer fonts -->
    <link href='//fonts.googleapis.com/css?family=Lobster|Yellowtail&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/myLocation.js'%}" type='text/javascript'></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJVmTsmOb77JvgVDlt80HMRC_qkDnvkfU&callback=initMap"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" charset="utf-8"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script>
    tinymce.init({
        selector: 'textarea',  // change this value according to your HTML
        encoding: 'xml',
        content_style: 'img {max-width: 100%;}'
    });



    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Elixir</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                {% if user.is_anonymous %}
                <li class="">
                    <a href="{% url 'signup' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">&ensp;Sign&ensp;Up</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'about_admins' %}">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&ensp;About&ensp;Admin</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">&ensp;Add&ensp;post</span>
                    </a>
                    {% else %}
                    <a href="{% url 'login'%}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">&ensp;Login</span>
                    </a>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_specific_posts' %}">
                        <span class="glyphicon glyphicon-th-list">&ensp;My&ensp;Posts</span>
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile_detail' %}">
                        <span class="glyphicon glyphicon-user">&ensp;Profile</span>
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated%}
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true">&ensp;Logout</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

{% block slideshow-wallpapers %}
<div class="w3-content w3-display-container" style="display:block">
    <img class="mySlides img-responsive" src="{% static 'img/image1.jpg'%}" style="width:100%">
    <img class="mySlides img-responsive" src="{% static 'img/image2.jpg'%}" style="width:100%">
    <img class="mySlides img-responsive" src="{% static 'img/image3.jpg'%}" style="width:100%">

</div>
<br>
{% endblock %}


{% block content %}

{% endblock %}


<!-- ---------------------------NEWS SECTION BEGINS--------------------
<div id="news">

</div>

<script>
			var header = document.getElementById('news');
			
			var requestURL = 'https://newsapi.org/v2/top-headlines?sources=google-news&apiKey=1e8acb9983124a3db03823d947909788';
			var request = new XMLHttpRequest();
			request.open('GET', requestURL);
			request.responseType = 'text';
			request.send();
			
			request.onload = function(){
				populateDivs();
			}
			function populateDivs(){
				//create 3 news spans with some effect
				var myh1 = document.createElement('div');
				myh1.setAttribute("class","newssections");
				myh1.textContent = "News 1";
				header.appendChild(myh1);


				var myh2 = document.createElement('div');
				myh2.setAttribute("class","newssections");
				myh2.textContent = "News 2";
				header.appendChild(myh2);


				var myh3 = document.createElement('div');
				myh3.setAttribute("class","newssections");
				myh3.textContent = "News 3";
				header.appendChild(myh3);


			}

</script>
----------------------------------news section ends-------------->

<div style="height:300px;"></div>
<!-- -------------------------------FOOTER SECTION BEGINS--------------------------------------- -->
<hr>

<div class="footer">
    <span><strong>Reach me @ | </strong></span>
    <span class="foot"><a href="https://www.linkedin.com/in/anshuman-tiwari-37324378/"><img
            src="{% static 'img/linkedin.png'%}" height="25" width="25"/></a></span>
    <span class="foot"><a href="https://github.com/tiwansh"><img src="{% static 'img/github.png'%}" height="25"
                                                                 width="25"></a></span>
    <span class="foot"><a href="https://facebook.com/anshuman.tiwari.33"><img src="{% static 'img/facebook.png'%}"
                                                                              height="25" width="25"></a></span>
</div>
<br>
<center><p>Made with <img src="{% static 'img/heart_icon.png' %}" height="30" width="30">, <img
        src="{% static 'img/music_icon.png' %}" height="30" width="30"> and some <img
        src="{% static 'img/coffee_icon.png' %}" height="25" width="25"> by <a
        href="https://www.linkedin.com/in/anshuman-tiwari-37324378/">@tiwansh</a></p></center>

<center>
    <p style="font-weight:bold">
        &copy; 2018 <a href="{% url 'about_admins' %}">Anshuman Tiwari</a>
    </p>
</center>
<script type="text/javascript">
	carousel();












</script>
<script type="text/javascript">
    document.getElementById("defaultOpenPost").click();











</script>

<script>
     function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageDisplay')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }










</script>


<script>
     function readURLheaderImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#headerImageDisplay')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                document.getElementById("headerImageDisplay").style.display = "block";
            }
        }
</script>

<script>
  $(function() {
    $("#dateofbirth").datepicker();
  });





</script>

</body>
</html>