{% load staticfiles %}

<html>
    <head>
        <title>Elixir</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   <body>
	    <div class="page-header">
	    	<span class = "head"><img src="{% static "img/logo.png" %}" height = "60" width = "80" display = "inline"/> </span>
	    	<span class = "head"><h1><a href="/">Elixir</a></h1></span>

	        <span class = "head" style = "float:right">
	        	<span class="button-span">
	        		<a href="{% url 'about_admins'%}" class="myButton">About admins</a>
	        		<a href="#" class="myButton">Contact</a>
	        		<a href="#" class="myButton">Register</a>
	        	</span>
	        	<p>
	        	{% if user.is_authenticated %}
	    			<a href="{% url 'post_new' %}" class="top-menu" style = "font-size:25px;">Add post | <span class="glyphicon glyphicon-plus"></span></a>
	    		{% else %}
	    			<a href="/admin" style = "float:right; weight:10px; font-size:25px; color:#ffffff">Log In | <span class = "glyphicon glyphicon-user"></span></a>
	    		{% endif %}
	    		</p>
	        </span>

	      
	    </div>


       <img id = "background-image" src= "{% static "img/background-image.jpg" %}">
	  	     	
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>

	    <!-- ---------------------------NEWS SECTION BEGINS-------------------- --> 
	    <div id="news">

	    </div>

	    <script>
			var header = document.getElementById('news');
			
			var requestURL = 'https://newsapi.org/v2/top-headlines?sources=google-news&apiKey=1e8acb9983124a3db03823d947909788';
			var request = new XMLHttpRequest();
			request.open('GET', requestURL);
			request.responseType = 'text';
			request.send();
			
			request.onload = function(){
				populateDivs();
			}
			function populateDivs(){
				//create 3 news spans with some effect
				var myh1 = document.createElement('div');
				myh1.setAttribute("class","newssections");
				myh1.textContent = "News 1";
				header.appendChild(myh1);


				var myh2 = document.createElement('div');
				myh2.setAttribute("class","newssections");
				myh2.textContent = "News 2";
				header.appendChild(myh2);


				var myh3 = document.createElement('div');
				myh3.setAttribute("class","newssections");
				myh3.textContent = "News 3";
				header.appendChild(myh3);


			}
		</script>

	    <!-- -------------------------------FOOTER SECTION BEGINS--------------------------------------- -->
	    <div style = "height:350px;"></div>
	    <div class = "footer">
	    	<span>Reach me @ | </span>
	    	<span class = "foot"><a href="https://www.linkedin.com/in/anshuman-tiwari-37324378/"><img src="{% static "img/linkedin.png"%}" height = "25" width = "25" /></a></span>
	    	<span class = "foot"><a href="https://github.com/tiwansh"><img src="{% static "img/github.png"%}" height = "25" width = "25"></a></span>
	    	<span class = "foot"><a href="https://facebook.com/anshuman.tiwari.33"><img src="{% static "img/facebook.png"%}" height = "25" width = "25"></a></span>
	    </div>
	</body>
</html>