{% extends 'blog/base.html' %}

{%block slideshow-wallpapers%}

{%endblock%}

{% block content %}

{%block title%}
<title>Edit post</title>
{%endblock%}

<div class="container container-fluid">
    <div class="row">
        {{ form.media }}
        <h1 class="text-center">New Post</h1>
        <form enctype="multipart/form-data" method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p}}
            <br>
            <center>
                <button type="submit" class="btn btn-default">Save</button>
            </center>
        </form>
    </div>
</div>


{% endblock %}