{% extends "blog/base.html" %}

{%block title%}
<title>Share post</title>
{%endblock%}

{% block content %}
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>"{{ post.title }}" was successfully sent by e-mail.</p>
{% else %}
<h1>Share `{{ post.title }}` by e-mail</h1>
<!--<form action="." method="POST">-->
<!--{{ form.as_p }}-->
<!--{% csrf_token %}-->
<!--<input type="submit" >-->
<!--</form>-->

<div class="form-group">
    <form enctype="multipart/form-data" method="POST" class="form-horizontal">
        {% csrf_token %}
        <br>
        {% for field in form %}
        <label class=""><h4>{{ field.label_tag}}</h4></label>
        <div class="" style="border:none;">{{ field }}</div>
        <br>
        {% endfor %}
        <br>
        <center>
            <div>
                <button class="button" type="submit" value="Send e-mail">Send <Email>`      </Email></button>
            </div>
        </center>
    </form>
</div>

{% endif %}
{% endblock %}