{% extends "blog/base.html" %}

{%block title%}
<title>Share post</title>
{%endblock%}

{%block slideshow-wallpapers%}

{%endblock%}

{% block content %}
<div class="container container-fluid">
    <div class="row">
        {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>"{{ post.title }}" was successfully sent by e-mail.</p>
        {% else %}
        <center><h1>Share `{{ post.title }}` by e-mail</h1></center>

        <form enctype="multipart/form-data" method="POST" class="form-horizontal">
            <div class="form-group">
                {% csrf_token %}
                <br>
                {% for field in form %}
                <label class="control-label">{{ field.label_tag}}</label>
                <div class="" style="border:none;">{{ field }}</div>
                <br>
                {% endfor %}
                <br>
            </div>
            <center>
                <div>
                    <button class="btn btn-primary" type="submit" value="Send e-mail">Send
                    </button>
                </div>
            </center>
        </form>

        {% endif %}
    </div>
</div>

{% endblock %}