{% extends 'blog/base.html' %}

{%block slideshow-wallpapers%}

{%endblock%}

{% load staticfiles %}

{%block title%}
<title>Update your profile</title>
{%endblock%}

{% block content %}
<div class="container container-fluid">
    <div class="panel panel-default">
        <div class="panel body">
            <h1>
                <center>Update your profile</center>
            </h1>
            <center>
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="background-color:none">
                    <br>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <br>
                        <div class="form-group" style="border:none">
                            <label class="control-label col-sm-2" for="profilepicture" style="border:none">Profile
                                picture:</label>
                            <img src="{{ profile_picture.url }}" class="img-responsive img-circle"
                                 style="height:200px;width:200px">
                            <div class="form-control" id="profilepicture" style="border:none">
                                {{ form.profile_picture }}
                            </div>
                            <br>
                            <br>
                            <br>
                            <label class="control-label col-sm-2" for="bio">Your Bio:</label>
                            <div class="form-control" id="bio">
                                {{ form.bio }}
                            </div>
                            <br>
                            <br>
                            <br>
                            <label class="control-label col-sm-2" for="location">Location:</label>
                            <div class="form-control" id="location">
                                {{ form.location }}
                            </div>

                            <label class="control-label col-sm-2" for="dateofbirth">Date of Birth:</label>
                            <div class="form-control" id="dateofbirth">
                                {{ form.date_of_birth }}
                            </div>
                        </div>
                        <center>
                            <div>
                                <button class="button" type="submit">Update</button>
                            </div>
                        </center>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </center>
        </div>
    </div>
</div>
{% endblock %}