{% extends 'blog/base.html' %}

{%block slideshow-wallpapers%}

{%endblock%}

{% load staticfiles %}

{%block title%}
    <title>Update your profile</title>
{%endblock%}

{% block content %}
<div class="container container-fluid">
    <div class="panel panel-default">
        <div class="panel body">
            <h1>
                <center>Update your profile</center>
            </h1>
            <center>
                <div class="form-group">
                    <form enctype="multipart/form-data" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <br>
                        {% for field in form %}
                        <label class=""><h4>{{ field.label_tag}}</h4></label>
                        <div class="" style="border:none;">{{ field }}</div><br>
                        {% endfor %}
                        <br>
                        <center>
                            <div>
                                <button class="button" type="submit">Update</button>
                            </div>
                        </center>
                    </form>
                </div>
            </center>
        </div>
    </div>
</div>
{% endblock %}