{% extends 'blog/base.html' %}

{% load staticfiles %}

{%block slideshow-wallpapers%}

{%endblock%}

{%block title%}
<title>Join Elixir</title>
{%endblock%}


{% block content %}
<div class="container container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>
                <center>Signup with Elixir</center>
            </h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <form method="POST" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    {% for field in form %}
                    <label class="control-label col-sm-5" style="border:none">{{ field.label_tag}} </label>
                    <div class="form-control" style="border:none;">{{ field }}</div>
                    <br>
                    {% endfor %}
                    <br>
                    <center>
                        <div class="">
                            <button class="btn btn-default" type="submit">Sign up</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}