html{
	position: relative;
	min-height: 100%;
}
h1 a{
	font-family: 'Lobster';
}

.navbar{
	border-radius: 0;

}

.page-header{ 
	color: #4286f4;
	background-color: white;
    margin-top: 8px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border-radius:20px;
    top: 0px;
    left:20px;
    right:20px;
    width: 100%;
}

.page-header span{
	display: inline-block;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #31c652;
    font-size: 36pt;
}

/*.content {
    margin-left: 40px;
}
*/
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: black;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    text-align: justify;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.footer{
	  background:  #080808;
	  text-align: center;
	  /*border-radius: 10px;*/
	  /*margin: 10px;*/
	  padding: 8px;
	  z-index:1;
	  /*position: absolute;*/
	  clear: both;
	  bottom:0;
	  position: relative;
	  width: 100%;
	  overflow: hidden;
}

/*span{
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 20px;
}*/

.rightside{
	/*display: block;*/
	margin:25px;
	margin-right:50px; 
	padding: 10px;
	z-index: 1;
	border-style:solid;
	border-width: 3px;
	width: 250;
	height:auto;
	display: inline-block;
}

.rightside h2{
	background-color: #4286f4;
	border-radius: 5px;
	color:#ffffff;
	margin: 10px;
	text-indent: center;
	/*font-size: 50px;*/
}

.rightside img{
	margin:25px;
	border-style: solid;
	border-width: 3px;
}

.rightside p{
	margin:15px;
	text-align: justify;
	color: black;
}

.footer>a{
	position:absolute;
	z-index: 9999;
}

#news div{
	display: inline-block;
	background-color: red;
}

.newssections{
	margin: 10px;
	border-style: solid;
	border-radius: 5px;
	border-width: 3px; 
	display: inline-block;
}

#background-image{
	width: 100%;
}	

.myButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.signup-form{
	font-size:16px;
	width:150%;
	background-color: grey;
}

.about-me div{
	position: relative;
	text-align: center;
	display: inline;
}

.w3-display-container:hover .w3-display-hover{
	display:block
}

.w3-display-container:hover span.w3-display-hover{
	display:inline-block
}

.w3-display-hover{
	display:none
}

.w3-display-container{
	position:relative
}

.w3-content{
	max-width:980px;margin:auto
}

.w3-rest{
	overflow:hidden
}

.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.mySlides{
display:none;
width: 100%;
}

.logout_links{
    display: inline-block;
    border-width:2px;
    border-style:solid;
    border-radius:10px;
    background-color:;
}

.navbar-header a{
	font-family: 'Yellowtail', Helvetica;
	font-size:30px;
}

nav span{
    font-size: 15px;
}

.admin1{
	 background-color: #1abc9c; /* Green */
     color: #ffffff;
}

.admin2{
	background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.admin3{
	background-color: #ffffff; /* White */
    color: #555555;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.form-control {
    border: 0;
    box-shadow: none;
}
container{
    border: 0;
    box-shadow: none;
}

panel{
    border: 0;
    box-shadow: none;
}

panel-body{
    border: 0;
    box-shadow: none;
}

form-horizontal{
    border: 0;
    box-shadow: none;
}

form-group{
    border: 0;
    box-shadow: none;
}

control-label{
    border: 0;
    box-shadow: none;
}